@use "@/styles/tokens/colors" as *;

.projectLink {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

/* ==========================================================
   LAYOUT
   ========================================================== */

.content {
   display: grid;
   grid-template-columns: 2.8fr 1fr;
   gap: clamp(28px, 2vw, 48px);

  align-items: center;
  padding: 20px 0;
}

.media {
  position: relative;

  width: 100%;

  aspect-ratio: 16 / 9;

  overflow: hidden;
}

/* ==========================================================
   COVER
   ========================================================== */

.cover {
  object-fit: contain;
  object-position: center top;

  user-select: none;
  pointer-events: none;

  transition:
    transform .8s cubic-bezier(.22,1,.36,1),
    filter .8s cubic-bezier(.22,1,.36,1);
    border-radius: 8px;
}


/* ==========================================================
   INFO
   ========================================================== */

.info {
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: 100%;
}


.projectTitle {
  position: relative;

  display: inline-block;

  overflow: hidden;

  margin-bottom: 24px;

  line-height: .95;
}

.projectTitle span {
  display: block;

 font-size: clamp(
  58px,
  5vw,
  92px
);

font-weight: 250;

letter-spacing: -.055em;

line-height: .88;
}

.projectTitle span:first-child {
  color: $color-text;
}

.titleAccent {
  position: absolute;

  inset: 0;

  overflow: hidden;

  white-space: nowrap;

  clip-path: inset(
    0 100% 0 0
  );

  transition: clip-path .7s
    cubic-bezier(
      .22,
      1,
      .36,
      1
    );
}

.description {
  max-width: 420px;

  margin-bottom: 40px;

  font-size: 18px;

  line-height: 1.7;

  color: $color-text-secondary;

   white-space: pre-line;
}

.viewProject {
  display: inline-flex;

  align-items: center;

  gap: 10px;

  font-size: 14px;

  font-weight: 700;

  letter-spacing: .08em;

  text-transform: uppercase;

  color: $color-text;
}

/* ==========================================================
   RESPONSIVE
   ========================================================== */

@media (max-width: 1100px) {
  .content {
    grid-template-columns: 1fr;

    gap: 40px;
  }

  .media {
    height: 70vh;
  }

  .info {
    padding-bottom: 20px;
  }
}