$color-background: #050505;

$color-text: #f2f2f2;

$color-text-secondary: #8a8a8a;

$color-text-muted: #6e6e6e;

$color-white: #ffffff;
$color-black: #000000;

$color-accent: #FF57DB;

$color-footer-symbol: #E7E7E7;

/* Hero Navigation */
$color-nav: #a3a3a3;