@use "@/styles/tokens/colors" as *;
@use "@/styles/tokens/typography" as *;

/* ==========================================================
   ABOUT
   ========================================================== */

.about {
  padding: 220px 0;
}

.pin {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
  align-items: start;
}

.viewport {
  position: relative;
}

.track {
  will-change: transform;
}

.video {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ==========================================================
   GRID
   ========================================================== */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 34px;

  align-items: start;
}

/* ==========================================================
   CONTENT
   ========================================================== */

.content {
  .eyebrow {
    display: block;

    margin-bottom: 74px;

    font-size: $text-small;
    font-weight: 500;

    line-height: 100%;
    letter-spacing: 0.12em;

    text-transform: uppercase;

    color: $color-text-muted;
  }

  h2 {
    margin-bottom: 48px;

    font-size: 6.5rem; // 104px

    font-weight: 700;

    line-height: 95%;
    letter-spacing: -0.02em;

    color: $color-text;
  }

  p {
    max-width: 340px;

    margin-bottom: 48px;

    font-size: $text-body;

    font-weight: 400;

    line-height: 140%;

    color: $color-text-secondary;
  }
}

/* ==========================================================
   LINK
   ========================================================== */

.link {
  position: relative;

  display: inline-block;

  font-size: 13px;
  font-weight: 900;

  text-transform: uppercase;

  text-decoration: none;

  overflow: hidden;  
   
}

.linkBase {
  color: $color-text;
}

.linkAccent {
  position: absolute;

  inset: 0;

  width: 100%;

  overflow: hidden;

  white-space: nowrap;

  color: $color-accent;

  clip-path: inset(
    0 100% 0 0
  );

  transition: clip-path 0.7s cubic-bezier(
    0.22,
    1,
    0.36,
    1
  );
}

.link:hover .linkAccent {
  clip-path: inset(
    0 0 0 0
  );
}

/* ==========================================================
   MOTION REEL
   ========================================================== */

.reel{
    position: relative;
    overflow: hidden;
}

.video{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.reel::after {
  content: "";

  position: absolute;

  inset: 0;

  background: #000;

  opacity: .18;

  pointer-events: none;
}

