@use "@/styles/tokens/colors" as *;
@use "@/styles/tokens/typography" as *;

.header{
  position: fixed;

  inset: 0 0 auto 0;

  height: 72px;

  z-index: 500;

  opacity: 0;

  pointer-events: none;

  transform: translateY(-20px);

  backdrop-filter: blur(14px);

  background: rgba(0,0,0,.28);

  border-bottom: 1px solid rgba(255,255,255,.06);
}

.inner{
  height: 72px;

  display: flex;

  align-items: center;

  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  transform: scale(.72);
    transform-origin:left center;

  svg {
    width: 160px;
    height: auto;
  }
}



.nav {
  display: flex;

  align-items: center;

  gap: 42px;
}

.navLink {
  position: relative;

  display: inline-block;

  overflow: hidden;

  text-decoration: none;

  white-space: nowrap;
}

.navBase {
  display: block;

  color: $color-white;

  font-size: 1rem;

  font-weight: 500;

  letter-spacing: .02em;

  transition: color .45s ease;
}

.navAccent {
  position: absolute;

  inset: 0;

  display: block;

  color: $color-accent;

  font-size: 1rem;

  font-weight: 500;

  letter-spacing: .02em;

  white-space: nowrap;

  clip-path: inset(0 100% 0 0);

  transition: clip-path .55s cubic-bezier(.22,1,.36,1);
}

.navLink:hover .navAccent {
  clip-path: inset(0 0 0 0);
}
