@use '../tokens/colors' as *;


html,
body,
a,
button,
input,
textarea,
select,
label,
[role='button'] {
  cursor: none !important;
}

html {
  font-size: clamp(
    14px,
    0.8vw,
    18px
  );
}

body {
  background-color: $color-background;
  color: $color-text;

  font-family: 'Satoshi', sans-serif;

  line-height: 1.4;

  overflow-x: hidden;
}