.logo {
  position: relative;

  display: inline-flex;

  text-decoration: none;
}

.wordmark {
  display: block;

  width: clamp(
    218.47px,
    11vw,
    340px
  );

  height: auto;
}

.symbol {
  position: absolute;

  left: calc(
    clamp(
      218.47px,
      11vw,
      340px
    ) + (
      clamp(
        218.47px,
        11vw,
        340px
      ) * 0.0476
    )
  );

  bottom: calc(
    clamp(
      218.47px,
      11vw,
      340px
    ) * 0.0805
  );

  width: calc(
    clamp(
      218.47px,
      11vw,
      340px
    ) * 0.1136
  );

  height: auto;
}